// В этом файле должны быть стили для БЭМ-блока subscription, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.subscription {

  $block-name:                &; // #{$block-name}__element

  background: $blue-gradient;
  border-radius: $border-radius;
  border: 1px solid #a0a0a0;
  color: #fff;
  padding: 20px 20px 60px 20px;

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
  }
}
