-
  var mainMenu = [
    {
      "id": "0",
      "name": "О компании",
      "url": "page-about.html"
    },
    {
      "id": "10",
      "name": "Форум",
      "url": "page-forum.html"
    },
    {
      "id": "20",
      "name": "Магазин",
      "url": "page-shops.html"
    },
    {
      "id": "30",
      "name": "Контакты",
      "url": "page-contacts.html"
    },
  ];
