// В этом файле должны быть стили для БЭМ-блока sedebar-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sedebar-card {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid $border-color;
  padding: 17px 20px;
  border-radius: $border-radius;

  &__header {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 17px;
  }
  &__title {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: rem(18px);
    font-weight: 700;
    color: $color-main;
    border-bottom: 3px solid $color-main;
  }
}
