//- Все примеси в этом файле должны начинаться c имени блока (sedebar-card)

mixin sedebar-card(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +sedebar-card('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sedebar-card--' + modsList[i].trim();
      }
    }

  .sedebar-card(class=allMods)&attributes(attributes)
    .sedebar-card__inner!= text
