// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.reviews {

  $block-name:                &; // #{$block-name}__element

  background: $gray-gradient;
  border: 1px solid $border-color;
  padding: 15px 20px 40px 20px;
  border-radius: $border-radius;

  &__header {
    margin-left: -20px;
    margin-right: -20px;
  }

  &__title {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    font-size: rem(18px);
    font-weight: 700;
    color: $color-main;
    border-bottom: 3px solid $color-main;
  }

  &__body {
    padding: 20px 20px 0 20px;
  }

  &__carousel {

    .owl-nav {

      .owl-prev,
      .owl-next {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: 50%;
        transform: translateY(-50%);

        svg {
          stroke: #000;
        }
      }

      .owl-prev {
        left: -30px;
      }
      .owl-next {
        right: -30px;
      }
    }
  }

  &__item-title {
    text-transform: uppercase;
    font-style: 700;
  }

  &__item-caption {
    font-size: 12px;
  }
}
