//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner
      .page-header__banner
        img(src="img/top-banner.jpg")
      .page-header__box
        block
        .page-header__right
          form.search-form.page-header__search
            input.search-form__input(type='search', placeholder='Type object id to search...')
            button.search-form__btn Search
          .login
            a.login__sign-in(href) Вход
            a.login__reg(href) Регистрация
