// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: #fff;

  &__inner {
    @include container;
  }

  &__banner {
    margin-top: 10px;
  }

  &__box {
    display: flex;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  &__right {
    display: flex;
  }
}
