// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: #fff;

  &__inner {
    @include container;
  }

  &__banner {
    padding-top: 10px;
  }

  &__box {
    display: flex;
    padding-top: 35px;
    padding-bottom: 30px;
    align-items: flex-end;
  }

  &__right {
    display: flex;
    margin-left: 20px;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__btn {
    padding-bottom: 20px;

    .btn + .btn {
      margin-left: 20px;
    }
  }
}
