//- Все примеси в этом файле должны начинаться c имени блока (page-header)

mixin page-header(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner
      .page-header__banner
        a(href='#')
          img(src="img/top-banner.jpg")
      .page-header__box
        block
        .page-header__right
          form.search-form.page-header__search
            label.field-text
              span.field-text__input-wrap
                input.field-text__input(type='search', placeholder='Поле поиска')
                button.btn.field-text__btn
                  i.fa.fa-search

          .login
            a(href="page-login.html").login__sign-in Вход
            a(href="page-registration-user.html").login__reg Регистрация
      .page-header__btn
        button.btn Добавить объявление
        button.btn Добавить магазин
