//- Все примеси в этом файле должны начинаться c имени блока (field-map)

mixin field-map(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +field-map('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-map--' + modsList[i].trim();
      }
    }

  .field-map(class=allMods)&attributes(attributes)
    .field-map__inner!= text