// В этом файле должны быть стили для БЭМ-блока catalog-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-list {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding-left: 0;
  column-count: 3;
  // column-width: 200px;
  column-gap: 2em;

  > li {
    font-size: 14px;
    font-weight: 700;

    span {
      color: #7d7a7a;
      font-weight: 400;
    }
  }

  > li > ul {
    list-style: none;
    padding-left: 40px;
    font-weight: 400;
  }

  > li > ul > li {
    margin: 5px 0;
    
    a {
      color: #7d7a7a;
      display: inline-block;
      font-size: 12px;

      text-decoration: none;

      &:hover,
      &:focus {
        color: $color-main;
      }
    }
  }
}
