//- Все примеси в этом файле должны начинаться c имени блока (b-services-card)

mixin b-services-card(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +b-services-card('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' b-services-card--' + modsList[i].trim();
      }
    }

  .b-services-card(class=allMods)&attributes(attributes)
    .b-services-card__inner!= text