// В этом файле должны быть стили для БЭМ-блока lk-messeges, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lk-messeges {

  $block-name:                &; // #{$block-name}__element

  .field-checkbox--messege {

    margin-bottom: 20px;

    &:not(:first-child) {
      border-top: 1px solid #e0e0e0;
      padding-top: 20px;
    }
  }
}
