//- Все примеси в этом файле должны начинаться c имени блока (lk-messeges)

mixin lk-messeges(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +lk-messeges('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' lk-messeges--' + modsList[i].trim();
      }
    }

  .lk-messeges(class=allMods)&attributes(attributes)
    .lk-messeges__inner!= text
