//- Все примеси в этом файле должны начинаться c имени блока (search-box)

mixin search-box(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +search-box('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' search-box--' + modsList[i].trim();
      }
    }

  .search-box(class=allMods)&attributes(attributes)
    .search-box__inner!= text
