// В этом файле должны быть стили для БЭМ-блока lk-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lk-main {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid #a2a2a2;
  border-radius: 6px;
  background: #fff;

  &__header {
    padding: 15px 30px;

    &--border {
      border-bottom: 1px solid #a2a2a2;
    }
  }

  &__title {
    font-weight: 400;
  }

  &__body {
    padding: 30px 30px 0 30px;
  }

  &__footer {
    padding: 0 30px 0px 30px;
  }
}
