//- Все примеси в этом файле должны начинаться c имени блока (lk-main)

mixin lk-main(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +lk-main('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' lk-main--' + modsList[i].trim();
      }
    }

  .lk-main(class=allMods)&attributes(attributes)
    .lk-main__inner!= text
