// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-card {

  border-radius: $border-radius;
  border: 1px solid $border-color;

  $block-name:                &; // #{$block-name}__element


  &__link {
    display: block;
    background: $gray-gradient;
    color: #000;
    text-decoration: none;
  }

  &__image {
    height: 180px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    padding: 20px;
  }

  &__name {

  }

  &__description {
    list-style: none;
    padding-left: 0;
    margin: 0;
    font-size: 14px;
  }
}
