// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  background: #fff;

  &__inner {
    @include container;
  }

  .logo {
    max-width: 180px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 4px solid #ff0000;
  }

  &__btn {

    .btn + .btn {
      margin-left: 20px;
    }
  }

  &__copyright {
    color: #8d8d8d;
    font-size: 12px;
    padding: 10px 0;
    text-align: right;

    a {
      color: #8d8d8d;
      text-decoration: none;
    }
  }
}
