// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container;
  }

  .logo {
    max-width: 180px;
  }

  &__box {
    display: flex;

    padding-top: 35px;
    padding-bottom: 30px;
  }

  &__right {
    display: flex;
  }

  &__copyright {
    color: #8d8d8d;
    font-size: 12px;
    text-align: right;

    a {
      color: #8d8d8d;
      text-decoration: none;
    }
  }
}
