//- Все примеси в этом файле должны начинаться c имени блока (sidebar-section)

mixin sidebar-section(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +sidebar-section('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sidebar-section--' + modsList[i].trim();
      }
    }

  .sidebar-section(class=allMods)&attributes(attributes)
    .sidebar-section__inner!= text
