extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  div.login-section
    .login-section__inner
      .login-section__header
        h1.login-section__title Регистрация
      .login-section__body
        form.form.form--login

          .field-radio
            .field-radio__input-wrap
              label.field-radio__name
                input.field-radio__input(type='radio', name='radio', checked='checked')
                span.field-radio__name-text Магазин
            .field-radio__input-wrap
              label.field-radio__name
                input.field-radio__input(type='radio', name='radio')
                span.field-radio__name-text Частное лицо
            .field-radio__input-wrap
              label.field-radio__name
                input.field-radio__input(type='radio', name='radio')
                span.field-radio__name-text Покупатель
          hr
          .field-actions.field-actions--inline
            .field-actions__text
              | Добавить описание магазина
            button.btn Выбрать
          label.field-text
            span.field-text__input-wrap
              textarea.field-text__input(type='text', placeholder='Описание магазина', name='comment')
          div.field-map
            div.field-map__wrap
              script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aeb71ddad19b2b8a00a07488f67e1ed6c95470cae72d8219caba0581b6110d06c&width=100%25&height=240&lang=ru_RU&scroll=false')
          .field-actions
            button.btn.btn--block Зарегистрироваться
      .login-section__footer
        p
          | Нажимая «Зарегистрироваться», вы принимаете условия
          br
          | <a href='#'>пользовательского соглашения</a>

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
