extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  
  .page__part.gray
    main.page__main-content(role="main")
      .shop-card
        .shop-card__image
          img.thumb(src='img/joker.jpg', alt='Джокер')
        .shop-card__body
          .shop-card__header
            .shop-card__header-inner
              .shop-card__title Локо сбыт
              .shop-card__actions
                button.btn.active
                  i.fa.fa-heart(aria-hidden='true')
                button.btn
                  i.fa.fa-share(aria-hidden='true')
              .shop-card__meta
                span № 152698
                span 25.01.2018
                span
                  i.fa.fa-eye(aria-hidden='true')
                  |  150 (9 сегодня)
            .btn-group
              button.btn Оставить отзыв
              button.btn Задать вопрос

          .shop-card__content
            .shop-card__contacts
              h4 Контактные данные
              p
                | Режим работы: пн-пт. с 9:00 до 18:00
                br
                | Адрес: г. Москва, ул. Мирная, 12
                br
                | Телефон: +7 (911) -11-11
              a(href="#") Схема проезда
            .shop-card__info
              h4 Комментарии продавца
              p
                | Продам или обменяю чери бонус. Требует небольших вложений,
                | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                | из интернета
          .shop-card__footer
            .shop-card__stats
              div.item
                i.fa.fa-bar-chart
                span
                  | Рейтинг: <b>107110</b>
              div.item
                i.fa.fa-comment
                span
                  | Отзывы:
                .stats-reviews
                  a.pos(href="#") +5
                  a.ne(href="#") 2
                  a.neg(href="#") -3
  .page__part
    main.page__main-content(role="main")
      .search-box
        .search-box__col
          .search-box__wrap
            .tabs.tabs--catalog
              ul.tabs__links(role='tablist')
                li.tabs__link-wrap.tabs__link-wrap--active(role='presentation')
                  a.tabs__link(href='#tab00', data-toggle='tab', role='tab') Товары
                li.tabs__link-wrap(role='presentation')
                  a.tabs__link(href='#tab01', data-toggle='tab', role='tab') Услуги
              .tabs__content-wrapper
                #tab00.tabs__content-item.tabs__content-item--active(role='tabpanel')
                  form.form.form--search
                    .form__part
                      .field-select
                        select#select.field-select__select(name='select')
                          option.adfas(value='') Вагонная служба
                          option(value='') Опция2
                      .field-select
                        select#select.field-select__select(name='select')
                          option.adfas(value='') Подвижной состав
                          option(value='') Опция2
                      .field-select--double
                        .field-select
                          select#select.field-select__select(name='select')
                            option.adfas(value='') Год от
                            option(value='') Опция2
                        .field-select
                          select#select.field-select__select(name='select')
                            option.adfas(value='') До
                            option(value='') Опция2
                    .form__part
                      .field-select
                        select#select.field-select__select(name='select')
                          option.adfas(value='') Выберите тип вагона
                          option(value='') Опция2
                      .field-select
                        select#select.field-select__select(name='select')
                          option.adfas(value='') Ж/Д полигон
                          option(value='') Опция2
                      button.btn Найти
                #tab01.tabs__content-item(role='tabpanel')
                  p За словесными горами в стране, гласных и согласных живут рыбные тексты.1
        .search-box__col
          .search-box__wrap
            .xz-block
      .catalog
        .catalog__controls
          .show-control
            span.show-control__text Показать на странице:
            .show-control__options
              span.show-control__item.show-control__item--active 30
              a(href="#").show-control__item 50
              a(href="#").show-control__item все

          .sort-control
            .field-select
              select#select.field-select__select(name='select')
                option.adfas(value='') <i class="fa fa-sort-amount-asc" aria-hidden="true"></i> По цене
                option(value='') Опция2

        .catalog__list
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                  img(src='img/product-demo-image.jpg')
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
          .catalog__item
            .product-card
              a(href='#').product-card__link
                .product-card__image
                .product-card__body
                  h3.product-card__name Суфле междувагонных соединений
                  ul.product-card__description
                    li <strong>ТУ:</strong> 2500-295-00152106-93
                    li <strong>Бренд:</strong> ОПТОН-ТЕХНО
                    li <strong>Вес:</strong> 2х55кг
                    li <strong>Страна-производитель:</strong> Россия
        .catalog__pagination
          +pagination()
            +pagination-item('1', '/1')
            +pagination-item('...')
            +pagination-item('4', '/4')
            +pagination-item('5', '/5', true)
            +pagination-item('6', '/6')
            +pagination-item('...')
            +pagination-item('999', '/999')

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
