extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  div.login-section
    .login-section__inner
      .login-section__header
        h1.login-section__title Регистрация
      .login-section__body
        form.form.form--login

          .field-radio
            .field-radio__input-wrap
              label.field-radio__name
                input.field-radio__input(type='radio', name='radio')
                span.field-radio__name-text Юридическое лицо
            .field-radio__input-wrap
              label.field-radio__name
                input.field-radio__input(type='radio', name='radio', checked='checked')
                span.field-radio__name-text Физическое лицо

          label.field-text
            span.field-text__input-wrap
              input.field-text__input(type='text', placeholder='Имя*', name='comment')
          label.field-text
            span.field-text__input-wrap
              input.field-text__input(type='email', placeholder='Email*', name='comment')
          label.field-text
            span.field-text__input-wrap
              input.field-text__input(type='tel', placeholder='Номер телефона*', name='comment')
          label.field-text
            span.field-text__input-wrap
              input.field-text__input(type='text', placeholder='Пароль*', name='comment')
          label.field-text
            span.field-text__input-wrap
              input.field-text__input(type='text', placeholder='Пароль еще раз*', name='comment')
          .field-actions
            button.btn.btn--block Зарегистрироваться
          .login-section__footer
            p
              | Нажимая «Зарегистрироваться», вы принимаете условия
              br
              | <a href='#'>пользовательского соглашения</a>

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
