extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    +logo('/')
      img(src="img/logo.svg")
    +main-nav('10')

block content
  div.lk-section
    .lk-section__sidebar-col
      .lk-sidebar
        ul.menu.menu--sidebar
          li.menu__item
            a.menu__link(href='/') Мои объявления
          li.menu__item.menu__item--active
            a.menu__link(href='/') Сообщения
          li.menu__item
            a.menu__link(href='/') Настройки

    .lk-section__main-col
      .lk-main
        .lk-main__header
          button.btn Удалить

        .lk-main__body
          .lk-messeges
            .field-checkbox.field-checkbox--messege
              .field-checkbox__input-wrap
                label.field-checkbox__name
                  input.field-checkbox__input(type='checkbox', name='check0')
                  div.field-checkbox__name-text
                    .messege
                      .messege__autor Николай
                      .messege__date 28.01.2018
                      .messege__theme Суфле мужвагонных соединений
                      .messege__text Устраивает цена, брать оптом
            .field-checkbox.field-checkbox--messege
              .field-checkbox__input-wrap
                label.field-checkbox__name
                  input.field-checkbox__input(type='checkbox', name='check0')
                  div.field-checkbox__name-text
                    .messege
                      .messege__autor Николай
                      .messege__date 28.01.2018
                      .messege__theme Суфле мужвагонных соединений
                      .messege__text Устраивает цена, брать оптом
            .field-checkbox.field-checkbox--messege
              .field-checkbox__input-wrap
                label.field-checkbox__name
                  input.field-checkbox__input(type='checkbox', name='check0')
                  div.field-checkbox__name-text
                    .messege
                      .messege__autor Николай
                      .messege__date 28.01.2018
                      .messege__theme Суфле мужвагонных соединений
                      .messege__text Устраивает цена, брать оптом
            .field-checkbox.field-checkbox--messege
              .field-checkbox__input-wrap
                label.field-checkbox__name
                  input.field-checkbox__input(type='checkbox', name='check0')
                  div.field-checkbox__name-text
                    .messege
                      .messege__autor Николай
                      .messege__date 28.01.2018
                      .messege__theme Суфле мужвагонных соединений
                      .messege__text Устраивает цена, брать оптом

        .lk-main__footer

block footer
  +page-footer()
    +logo('/')
      img(src='img/logo.svg')
    +main-nav('10')

//- block page-bottom
//-   script(src="js/some.js")
