extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  
  .page__part.gray
    main.page__main-content(role="main")  
      .page-box.page-box--md
        .add-advert
          .add-advert__part
            h2.add-advert__title Добавить объявление
            form.form.add-advert__form
              label.field-text.field-text--inline
                span.field-text__name Выберите категорию:
                span.field-text__input-wrap
                  input.field-text__input(type='text', placeholder='Категория')
              label.field-text.field-text--inline
                span.field-text__name Местоположение:
                span.field-text__input-wrap
                  input.field-text__input(type='text', placeholder='Ж/Д полигон')
              .field-actions.field-actions--inline
                .field-actions__text
                p
                  button.btn Сохранить

          hr.page-box__hr

          .add-advert__part
            form.form.add-advert__form
              label.field-text.field-text--inline
                span.field-text__name Описание товара:
                span.field-text__input-wrap
                  textarea.field-text__input(name='comment', placeholder='Введите текст')
              label.field-text.field-text--inline
                span.field-text__name Комментарий продавца:
                span.field-text__input-wrap
                  textarea.field-text__input(name='comment', placeholder='Введите текст')
              label.field-text.field-text--inline
                span.field-text__name Цена:
                span.field-text__input-wrap.field-text__input-wrap--sm
                  input.field-text__input(type='text', value='5700')
                span.field-text__help-text руб

              .field-file.field-file--inline
                .field-file__name Фотографии
                label.field-file__input-wrap
                  input.field-file__input(type='file', data-multiple-caption='Выбрано файлов: {count}', name='commentFile', multiple='multiple')
                  .field-file__name-text(data-button-text='+') Ничего не выбрано

              .field-radio.field-radio--inline
                .field-radio__title Тип товара:
                .field-radio__input-wrap
                  label.field-radio__name
                    input.field-radio__input(type='radio', name='radio', checked='checked')
                    span.field-radio__name-text Новый
                .field-radio__input-wrap
                  label.field-radio__name
                    input.field-radio__input(type='radio', name='radio')
                    span.field-radio__name-text Б/У
                
              .field-actions.field-actions--inline
                .field-actions__text
                p
                  button.btn Сохранить

          hr.page-box__hr

          .add-advert__part
            h2.add-advert__title Контактная информация
            form.form.add-advert__form
              label.field-text.field-text--inline
                span.field-text__name Ваше имя:
                span.field-text__input-wrap
                  input.field-text__input(type='text', value='Евгений')
              label.field-text.field-text--inline
                span.field-text__name Ваш телефон:
                span.field-text__input-wrap
                  input.field-text__input(type='tel', value='+7-920-212-21-51')
              label.field-text.field-text--inline
                span.field-text__name Ваш E-mail:
                span.field-text__input-wrap
                  input.field-text__input(type='email', value='test@e-mail.ru')
              .field-actions.field-actions--inline
                .field-actions__text
                p
                  button.btn Сохранить

          hr.page-box__hr

          .add-advert__part.add-advert__part--action
            button.btn Подать объявление
            

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
