extends pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()

block content
  .page__part
    main.page__main-content(role="main")
      .shops
        .shops__list
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета
          .shops__item
            .shop-card
              .shop-card__image
                img.thumb(src='img/joker.jpg', alt='Джокер')
              .shop-card__body
                .shop-card__header
                  .shop-card__header-inner
                    .shop-card__title Локо сбыт
                    .shop-card__actions
                      button.btn.active
                        i.fa.fa-heart(aria-hidden='true')
                      button.btn
                        i.fa.fa-share(aria-hidden='true')
                    .shop-card__meta
                      span № 152698
                      span 25.01.2018
                      span
                        i.fa.fa-eye(aria-hidden='true')
                        |  150 (9 сегодня)
                  button.btn Задать вопрос

                .shop-card__content
                  .shop-card__contacts
                    h4 Контактные данные
                    p
                      | Режим работы: пн-пт. с 9:00 до 18:00
                      br
                      | Адрес: г. Москва, ул. Мирная, 12
                      br
                      | Телефон: +7 (911) -11-11
                    a(href="#") Схема проезда
                  .shop-card__info
                    h4 Комментарии продавца
                    p
                      | Продам или обменяю чери бонус. Требует небольших вложений,
                      | за это цена занижена. Торг при встрече.Возможен обмен на другую модель с доплатой. Рассмотрю варианты. Фотография
                      | из интернета

        .shops__pagination
          +pagination()
            +pagination-item('1', '/1')
            +pagination-item('...')
            +pagination-item('4', '/4')
            +pagination-item('5', '/5', true)
            +pagination-item('6', '/6')
            +pagination-item('...')
            +pagination-item('999', '/999')

block footer
  +page-footer()

//- block page-bottom
//-   script(src="js/some.js")
