//- Все примеси в этом файле должны начинаться c имени блока (main-feedback)

mixin main-feedback(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +main-feedback('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-feedback--' + modsList[i].trim();
      }
    }

  .main-feedback(class=allMods)&attributes(attributes)
    .main-feedback__inner!= text
