// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size--h3:               rem(24px) !default;

$line-height:                 1.5 !default;

.form {

  $block-name:                &; // #{$block-name}__element

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: $font-size--h3;
    font-family: $font-family--headings;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }

  &--subscription {

    #{$block-name}__part {

      display: flex;
      flex-wrap: wrap;

      .field-select,
      .field-text {
        min-width: 50%;
        margin-right: 10px;
        margin-bottom: 10px;

        @media (max-width: ($screen-sm - 1)) {
          min-width: 100%;
        }
      }

      .field-link {

        a {
          color: #fff;
          text-decoration: none;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }

        @media (max-width: ($screen-sm - 1)) {
          margin-bottom: 10px;
        }
      }

      .field-btn {

        .btn {
          min-width: 167px;
        }
      }
    }
  }

  &--login {

    .btn {
      width: 100%;
    }

    .field-radio {
      display: flex;
      align-items: center;

      .field-radio__input-wrap + .field-radio__input-wrap {
        margin-top: 0;
        margin-left: 20px;
        @media (max-width: ($screen-sm)) {
          margin-left: 0;
          margin-top: 10px;
        }
      }

      @media (max-width: ($screen-sm)) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &--settings {

    .field-text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      &__name {
        flex-shrink: 0;
        min-width: 165px;
        font-weight: 400;
        color: #7f7b7b;
      }

      &__input-wrap {
        min-width: 360px;

        @media (max-width: 615px) {
          min-width: 100%;
        }
      }
    }

    .field-checkbox {
      margin-left: 165px;

      @media (max-width: 615px) {
        margin-left: 0;
      }
    }

    .field-actions {
      margin-left: 165px;
      margin-bottom: 0;

      @media (max-width: 615px) {
        margin-left: 0;
      }
    }
  }

  &--search {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1;

    .form__part {
      flex-basis: 50%;
      padding-left: 5px;
      padding-right: 5px;

      @media (max-width: ($screen-sm - 1)) {
        flex-basis: 100%;
      }
    }

    button {
      width: 100%;
    }
  }
}
